.trash
elpa*
.elpa*
eshell/
transient/
.DS_Store
custom.el
custom.el~
org-persist
recentf
.emacs.desktop
.emacs.desktop.lock
.session
history
projectile-bookmarks.eld
.uptimes.el
auto-save-list
url
projects
codeium
/tramp
config
.config
.elpa-29.1
server/tree-sitter
server/
/eln-cache/
/tree-sitter/*.dylib
/.org-id-locations
