[submodule "tree-sitter/windows"]
	path = tree-sitter/windows
	url = https://github.com/clay9/tree-sitter-module.git
	branch = windows
[submodule "tree-sitter/macos"]
	path = tree-sitter/macos
	url = https://github.com/clay9/tree-sitter-module.git
	branch = macos
[submodule "site-lisp/copilot"]
	path = site-lisp/copilot
	url = git@github.com:zerolfx/copilot.el.git
[submodule "tree-sitter/linux"]
	path = tree-sitter/linux
	url = https://github.com/clay9/tree-sitter-module.git
	branch = linux
[submodule "flymake-google-cpplint"]
	path = site-lisp/flymake-google-cpplint
	url = https://github.com/flymake/flymake-google-cpplint.git
