[submodule "tree-sitter/windows"]
	path = tree-sitter/windows
	url = https://github.com/clay9/tree-sitter-module.git
	branch = windows
[submodule "tree-sitter/macos"]
	path = tree-sitter/macos
	url = https://github.com/clay9/tree-sitter-module.git
	branch = macos
[submodule "tree-sitter/linux"]
	path = tree-sitter/linux
	url = https://github.com/clay9/tree-sitter-module.git
	branch = linux
